<!DOCTYPE html>
<html>
<%= render 'layouts/head' %>
<body>
<div class="bmd-layout-container-fluid bmd-drawer-f-l">
  <%= render 'layouts/navbar' %>
  <% if notice || alert %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
  <% end %>

  <div class="container-fluid">
    <%= yield %>
  </div>
</div>
</body>
</html>
