<!DOCTYPE html>
<html>
<%= render 'layouts/head' %>
<body>
<!--Start your project here-->
<div class="bmd-layout-container bmd-drawer-f-l">
  <%= render 'layouts/navbar' %>
  <% if notice || alert %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
  <% end %>
  <main class="bmd-layout-content">

    <div class="container-fluid">
      <!--/Start your project here-->
      <%= yield %>
    </div>
  </main>
</div>
</body>
</html>
